body{
	font-family: Arial,Verdana,sans-serif;
	color: #444;
	line-height: 1.6;
	padding: 0;
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	min-height: 28px;
	width: auto;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

h3{
	color:white;
	padding: 10px;
}

.sites-header-title{
	padding-bottom: 150px;
}
.sites-header-primary-row{
	background-color: black;
	margin-bottom: 10px;
	color: white;
}

.answer{
	list-style-type: square;
	margin: 0px;
	padding: 3px;
	
}

.selectedAnswer{
	background-color: black;
	color: white;
}

.quiz-question > li{
	margin: 3px;
	padding: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.quiz-question > li{
	list-style-type: none;
}

.quiz-template{
	padding:15px;
	font-size:20px;
}

.quiz-template .question .question-title{
	font-weight:bold ;
}

.quiz-template .question .question-title strong{
	
}

.quiz-main-title{
	font-size: 30px;
	font-weight: bolder;
}

#content-form, #content-body{
	margin-left: 15px;
	margin-right: 15px;
}

#sites-chrome-userheader-logo img{
	margin-left: 25px;
}

.question{
	padding-top: 45px;
}