body{
	font-family: Arial,Verdana,sans-serif;
	color: #444;
	line-height: 1.6;
	padding: 0;
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

h3{
	color:white;
	padding: 10px;
}

.sites-header-title{
	height: 180px; 
}
.sites-header-primary-row{
	background-color: black;
}

.sites-header-image-buffer-wrapper{
	width: 30%;
}

.pull-right{
	float: right;
}

.answer{
	list-style-type: square;
	margin: 0px;
	padding: 3px;
	
	color: #444;
	background-color: rgba(0,0,0,.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.selectedAnswer{
	background-color: black;
	color: white;
}

.quiz-question > li{
	margin: 3px;
	padding: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.quiz-question > li{
	list-style-type: none;
}

.quiz-template{
	padding:15px;
	font-size:20px;
}

.quiz-template .question .question-title{
	font-weight:bold ;
}

.quiz-template .question .question-title strong{
	
}

.quiz-main-title{
	font-size: 30px;
	font-weight: bolder;
}