<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


	<div class="sites-header-primary-row" id="sites-chrome-userheader">
		<div class="sites-header-title">
			<div class="sites-header-image-buffer-wrapper">
				<a href="http://www.avenuecode.com.br/" id="sites-chrome-userheader-logo">
					<img id="logo-img-id" src="img/customLogo.png" alt="Avenue Code Brasil" class="sites-logo ">
				</a>
				<h3>AC - Backbone Quizz</h3>
			</div>
		</div>
		
	</div>

	<script id="questionTemplate" type="text/template">
		<strong><%= Id %> - </strong> <%= Question %>
	</script>


	<script id="answerTemplate" type="text/template">
		<%= attributes.Answer %> <input type="checkbox" id="<%= attributes.QuestionId %>"+"_"+"<%= attributes.Answer %>"/> 
	</script>

	<script src="js/underscore.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/main.js"></script>
</body>
</html>