<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
</head>
<body>


	<div class="sites-header-primary-row" id="sites-chrome-userheader">
		<div class="sites-header-title">
			<div class="sites-header-image-buffer-wrapper">
				<a href="http://www.avenuecode.com.br/" id="sites-chrome-userheader-logo" class="col-md-3">
					<img id="logo-img-id" src="img/customLogo.png" alt="Avenue Code Brasil" class="sites-logo ">
				</a>
				<h1 class="col-md-9">AC - Backbone Quizz</h1>
			</div>
		</div>
		
	</div>

	<div id='content-form'>
	</div>	

	<div id='content-body'>
	</div>


	<script id="formTemplate" type="text/template">
		<input type='text' id='user-name' name='user-name' placeholder='User Name'/>
		<input type='text' id='user-email' name='user-email' placeholder='User Email'/>
		<button type="button" class="btn btn-primary" id="submit-result-button" title="Submit Answers">Submit Result</button>
	</script>
	

	<script id="questionTemplate" type="text/template">
		<div class="question-title"> <strong id='<%= Id %>'><%= Id %> - </strong> <%= Question %></div>
	</script>

	<script id="answerTemplate" type="text/template">
		<div name="<%= "question_"+attributes.QuestionId %>"><%= attributes.Answer %>
	</script>

	<script id="resultTemplate" type="text/template">
		<div class="quiz-title"> <strong><%= Id %> - </strong> <%= Question %> <%= CorrectAnser %></div>
	</script>

	<script id="statsTemplate" type="text/template">
		 | <%= Value %> %
	</script>
	

	
	<script src="js/libs/jquery/jquery.js"></script>
	<script src="js/libs/bootstrap/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
	
	<script src="js/models/question.js"></script>
	<script src="js/models/answer.js"></script>
	<script src="js/models/user-answer.js"></script>
	<script src="js/models/form.js"></script>
	<script src="js/models/result.js"></script>
	
	<script src="js/collections/quiz.js"></script>
	<script src="js/collections/user-answer.js"></script>
	

	<script src="js/views/view-util.js"></script>
	<script src="js/views/quiz.js"></script>
	<script src="js/views/question.js"></script>
	<script src="js/views/answer.js"></script>
	<script src="js/views/result.js"></script>
	<script src="js/views/form.js"></script>

	<script src="js/routers/router.js"></script>

	
	
	<script src="js/main.js"></script>
</body>
</html>
